
body {
  background-color: #DFEFFB;
  padding-top: 95px;
  
}

blockquote {
  border-left: none
  
}

.quote-box {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  border-radius: 17px;
  background-color: #AFD0EF;
  color: #0168B3;
  box-shadow: 2px 2px 2px 2px #E0E0E0;
  width: 50%;
  height: 50%;
  min-width: 200px;
  max-width: 500px;
  padding: 0px;
}



.quote-text {
  font-family: 'Tangerine', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
  margin-top: -65px;
}

#authorName {
  font-family: 'Tangerine', serif;
  font-size: 30px;
  text-shadow: 4px 4px 4px #aaa;
}




